.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;

}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: rgb(226, 226, 226);
    height: 39px;
    padding: 10px;
}

.sidebar__serachCOntainer{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    width: 100%;
}

.sidebar__serachCOntainer > .MuiSvgIcon-root{
    color: grey;
    padding: 10px;
}

.sidebar__serachCOntainer > input{
    border: none;
    margin-left: 5px;
    outline-width: 0;
}

.sidebar__chats{
    background-color: white;
    flex: 1;
    overflow-y: scroll;
}