.SideBarChat{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

a{
    text-decoration: none !important;
    color: black;
}

.SideBarChat:hover{
    background-color: lightgray;
}

.SideBarChat__info{
    margin-left: 10px;
}

.SideBarChat__info h2{
    font-size: 16px;
    margin-bottom: 8px;
}